# Veri Dosyaları 
data/
*.parquet
*.csv
*.crc
*.json

# Loglar
 # logs/*.log

# Python Önbellekleri
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Ortam Dosyaları
.env
.venv
venv/
env/

# IDE Dosyaları
.vscode/
.idea/