# Veri Katmanları (Büyük dosyalar GitHub'a yüklenmez)
data/
notebooks/output_data/

# Hassas Bilgiler (API Key vb.)
.env

# Python ve Editör Kalıntıları
__pycache__/
*.py[cod]
*$py.class
.venv/
.vscode/
.vs/

# Spark Log ve Geçici Dosyalar
spark-warehouse/
metastore_db/
derby.log